a {
	text-decoration: none;
	}

.width {
	box-sizing: border-box;
	width: 80%;
	min-width: 900px;
	margin-left: 10%;
	}

@media screen and (max-width: 1125px) { /* 1125 = 100/80*900 */
	.width {
		margin: 0 auto;
		}
}

@media screen and (max-width: 900px) {
	.width {
		width: 100%;
		min-width: 0;
		}
}

