#header {
	background: rgba(196, 216, 236, .5);
	}
	#header .content {
		position: relative;
		padding: 0 10px;
		color: rgb(30, 60, 90);
		background: rgba(0,0,0,.1);
		}
		#header .logo *,
		#header .right a {
			line-height: 50px;
			}
		#header .logo {
			padding: 0 9px;
			}
			#header .logo * {
				vertical-align: middle;
				}
			#header .logo span {
				display: inline-block;
				width: 127px;
				overflow: hidden;
				text-align: left;
				font-family: "Fjalla One";
				font-size: 32px;
				transition: width .25s;
				}
		#header form {
			position: absolute;
			top: 8px;
			left: 211px;
			right: 267px;
			transition: left .25s;
			}
			#header input[type="text"] {
				width: 100%;
				box-sizing: border-box;
				border-radius: 2px;
				padding: 9px 5px;
				font-size: 12px;
				}
			#header input[type="submit"] {
				position: absolute;
				top: -100px;
				}
		#header .right {
			float: right;
			}

		#header a {
			display: inline-block;
			min-width: 50px;
			text-align: center;
			color: inherit;
			font-size: 24px;
			}
			#header a:hover {
				background: rgba(0,0,0,.1);
				}
			#header img {
				display: inline-block;
				margin-top: -2px;
				vertical-align: middle;
				height: 32px;
				}
		#header .profile img,
		#header input[type="text"] {
			border: 1px solid rgba(0,0,0,.2);
			}
		#header .profile img {
			border-radius: 2px;
			}

@media screen and (max-width: 680px) {
	#header .logo span {
		width: 0px;
		}
	#header form {
		left: 80px;
		}
}

@media screen and (min-width: 543px) {
	#header .link-search {
		display: none;
		}
}
@media screen and (max-width: 542px) {
	#header form,
	#header.show-search form ~ * {
		display: none;
		}
	#header.show-search form {
		display: block;
		right: 18px;
		}
	#header .link-search * {
		opacity: .33;
		}
}
