#header {
	background: rgb(225, 235, 245);
	color: rgb(30, 60, 90);
	}
	#header .more-toHide-container,
	#header .content {
		background: rgb(202, 211, 220);
		}
	#header .content {
		position: relative;
		}
		#header.show-btns .content {
			border-bottom: 1px solid rgba(255, 255, 255, .33);
			}
		#header .logo *,
		#header .a {
			line-height: 50px;
			}
		#header .logo {
			padding: 0 9px;
			}
			#header .logo * {
				vertical-align: middle;
				}
			#header .logo span {
				display: inline-block;
				width: 127px;
				overflow: hidden;
				margin-left: 5px;
				font-family: "Fjalla One";
				font-size: 32px;
				transition: all .25s;
				}
		#header form {
			position: absolute;
			top: 8px;
			left: 202px;
			right: 260px;
			transition: all .25s;
			}
			#header input[type="text"] {
				width: 100%;
				box-sizing: border-box;
				border-radius: 2px;
				padding: 9px 5px;
				font-size: 12px;
				}
			#header input[type="submit"] {
				position: absolute;
				top: -100px;
				}
		#header .link-search {
			opacity: 1;
			transition: all .25s;
			}
			#header .link-search * {
				opacity: .33;
				}
		#header .right {
			float: right;
			visibility: visible;
			opacity: 1;
			transition: all .25s;
			}
			#header .a {
				width: 50px;
				text-align: center;
				vertical-align: top;
				}
				#header .more-btn,
				#header .more-toHide {
					overflow: hidden;
					transition: width .25s;
					}
		#header a {
			display: inline-block;
			color: inherit;
			font-size: 24px;
			}
			#header a:hover {
				background: rgba(0,0,0,.1);
				}
			#header img {
				display: inline-block;
				margin-top: -2px;
				vertical-align: middle;
				height: 32px;
				}
		#header .profile img,
		#header input[type="text"] {
			border: 1px solid rgba(0,0,0,.2);
			border-radius: 3px;
			}
		#header .more-toHide-container {
			position: absolute;
			height: 50px;
			top: 0;
			left: 0;
			right: 0;
			text-align: right;
			transition: top .25s;
			}
			#header.show-btns .more-toHide-container {
				top: 50px;
				}

@media screen and (max-width: 680px) {
	#header .logo span {
		width: 0;
		margin-left: 0;
		}
	#header form {
		left: 70px;
		}
}

@media screen and (min-width: 543px) {
	#header .link-search {
		opacity: 0;
		visibility: hidden;
		}
}
@media screen and (max-width: 542px) {
	#header form {
		right: 308px;
		opacity: 0;
		}
	#header.show-search form {
		display: block;
		right: 10px;
		opacity: 1;
		}
	#header.show-search .right {
		visibility: hidden;
		opacity: 0;
		}
}

@media screen and (min-width: 401px) {
	#header .right .more-btn {
		width: 0;
		}
}
@media screen and (max-width: 400px) {
	#header form {
		right: 157px;
		}
	#header .more-toHide {
		width: 0;
		}
	#header.show-btns .more-toHide {
		position: relative;
		width: 50px;
		transition: initial;
		}
}
